{% extends "cookbook/layout.html" %}

{% block body %}
    <section id="new-container">
        <h2>Add a new recipe</h2>
        <form action="" method="POST">
            {% csrf_token %}
            {{ form }}
            {% if error %}
                <p> <b>Error:</b> {{ error }} ingredient does not exist</p>
            {% endif %}
            {% if Message %}
                <p>{{ Message }}</p>
            {% endif %}
            <button type="submit">Submit</button>
        </form>
        <p>Format for adding ingredients: "ammmount: ingredient, ammount: ingredient" Ej: 1 cup: sugar, 2 oz: chocolate</p>
    </section>
{% endblock %}