{% extends "cookbook/layout.html" %}

{% block body %}
    <div class="content-container">
        <div id="search-container" class="d-flex">
            <input type="text" id="data-input" class="bar-input" placeholder="Ej: chicken">
            <div id="search-slider" class="d-flex">
                <p id="opt-ingredient">Ingredient</p>
                <label class="switch">
                    <input type="checkbox" id="opt-checkbox">
                    <span class="slider round" id="opt-slider"></span>
                </label>
                <p id="opt-recipe">Recipe</p>
                <br>
            </div>
            <div class="d-flex flex-row justify-content-between">
                <button type="button" id="btn-search" class="btn btn-primary">Search</button>
                <button type="button" id="btn-submit" class="btn btn-primary">Submit</button>
            </div>
            <p id="data-message"></p>
        </div>
        <div id="info">
            <div id="info-toggle">
                <span>&#x3e</span><label for="info-text">How do I use this page?</label>
                <p id="info-text"> Use this page to find what to cook depending on what you have available. You can search for ingredients either 
                    one at a time or separated by a comma (,). You can also look for specific recipes by selecting "recipe" under the search bar.
                    Recipe only takes one option for now. Results will be displayed in cards below with a small description. Click on the card to see the full recipe.</p>
            </div>
        </div>
        <div id="ingredients-result">

        </div>
        <div id="results-container">
            
        </div>
    
        <hr>
        <h1>DEBUG</h1>
        <div>
            <p id="debug-ingredient-list"></p>
            <label for="debug-ingredient-list">List of ingredients</label>
        </div>
    </div>
{% endblock %}