{% extends 'cookbook/layout.html' %}

{% block body %}
    <div class="content-container">
        <div id="recipe-image">
            <img src="" alt="image of food">
        </div>
        <div id="recipe-ingredients">
            <h2>{{recipe.recipe_name}}</h2>
            <ul>
                {% for ammount in ammounts %}
                <li>{{ammount}}</li>
                {% endfor %} 
            </ul>
        </div>
        <div id="recipe-steps">
            <p class="recipe-text">{{ recipe.steps }}</p>
        </div>
    </div>
    
{% endblock %}