* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* layout */ 

.btn {
    width: 120px
}

/* main page */
.content-container {
    max-width: 892px;
    margin: 0 auto;
}

#search-container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

.bar-input {
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid grey;
}

.bar-input:focus {
    outline: none;
    animation: bar-focus 0.5s forwards;
}

/* info div */

#info-toggle p {
    font-weight: bold;
}

#info-toggle:hover {
    cursor: pointer;
}

#info-text {
    display: none; 
}

/* buttons */

/* recipe cell */
.cell-container {
    padding: 1rem;
    border: 1px solid lightblue;
    width: 216px;
    height: 235px;
    transition: padding 0.5s;
}

.cell-container:hover {
    padding: 0;
}

.fade-in {
    animation-name: results-fadein;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.result-cell {
    background-color: antiquewhite;
    border-radius: 5px;
    /* height: 219px; */
    padding: 1rem; 
    overflow: clip;
    text-align: center;
}

.result-name {
    margin-bottom: 1rem;
}

.result-description {
    margin-bottom: 0;
}

.result-cell a {
    text-decoration: none;
}

.result-img-container {
    background-color: aquamarine;
    height: 72px;
}

/* animations */

@keyframes results-fadein {
    0% {
        opacity: 0;
        margin-top: -40px;
    }

    100% {
        opacity: 1;
        margin-top: 0;
    }
}

/* search bar */ 

@keyframes bar-focus {
    0% {
        border: 1px solid grey;
    }

    100% {
        border: 1px solid black;
    }
}