/* layout */ 

.btn {
    width: 120px
}
/* main page */
.content-container {
    max-width: 892px;
    margin: 0 auto;
}

#search-container {
    margin: 0 auto;
    max-width: 800px;
    display: flex;
    flex-direction: column;
}

/* buttons */

/* recipe cell */
.cell-container {
    padding: 1rem;
    border: 1px solid black;
    width: 216px;
    height: 235px;
}

.cell-container:hover {
    animation-name: cell-hover;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.out {
    animation-name: cell-hover-out 0.5s forwards;
}

.result-cell {
    border: 1px solid black;
    border-radius: 5px;
    height: 219px;
    padding: 1rem;
    overflow: clip;
}

.result-cell a {
    text-decoration: none;
}

/* animations */

@keyframes cell-hover {
    0% {
        padding: 1rem;
    }

    100% {
        padding: 0;
    }
}

@keyframes cell-hover-out {
    0% {
        padding: 0;
    }

    100% {
        padding: 1rem;
    }
}